[user]
	email = rhoulihan@purestorage.com
	name = Rory Houlihan
[init]
	defaultBranch = main
[difftool]
    prompt = false
[diff]
    tool = vimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[push]
	default = simple
[core]
	editor = nvim
	pager = 
[color]
	ui = auto
[log]
	date = local
	decorate = short
[commit]
	template = /home/rhoulihan/.git_commit_template
[pager]
  diff =
[alias]
  # my awesome git log replacement
  lol  = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%ar)%Creset %C(green)%an <%ae>%Creset %s\"
  # same as above, but ISO date
  lold = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%ai)%Creset %C(green)%an <%ae>%Creset %s\"
  # using build-in standards
  lol2 = log --oneline --graph --decorate
  # shows branches and their last commits
  lol3 = log --all --graph --decorate --oneline --simplify-by-decoration

  find = log  --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
  find-full = log --grep
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
